RewriteEngine On

Options -Indexes

RewriteRule ^$ public/index.php [L]
RewriteRule ^admin/?$ admin/login.php [L]

RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} !on
RewriteRule ^(.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Réécriture pour supprimer l'extension .php
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L,QSA]