@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

:root {
    --bs-blue: #1A508E;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #61B5E4;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #61B5E4;
    --bs-secondary: #1A508E;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-link-color: #61B5E4;

}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jura', sans-serif;
    background-color: #61b4e488;
}

.btn__container {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.btn {
    background-color: #1A508E;
    color:white;
}

.return {
    background-color: white; 
    color: #1A508E;
}

.return:hover {
    background-color: #1A508E !important;
    color:white !important;
}

.btn:hover {
    background-color: white;
    color:#1A508E;
    border: 1px solid #1A508E;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

input, textarea {
    width: 100%;
    height: auto;
    background-color: #1A508E73;
    border-radius: 1rem;
    border: 2px solid #fffffff7;
    padding: 1rem;
    color: white;
}

input:focus, textarea:focus {
    box-shadow: 0 0 8px 2px #ffffff46;;
    border: 2px solid #cacaca00;
    outline: 2px solid #ffffff46;
}

/* Projets */

.form__connect {
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.form__dashboard {
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.choices {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
}

.choice {
    background-color: azure;
    margin: 3rem;
    align-items: center;
    display: flex;
    width: 10rem;
    height: 5rem;
    justify-content: center;
    text-decoration: none;
    font-size: 1.7rem;
    color:#1A508E;
    border-radius: 10px;;
}

.logout {
    margin-top: 3rem;
    width: 100%;
    height:10rem;
}


.projects__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.current__projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.projects {
    margin:2rem;
}

.projects > img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    object-position: center;
}

.projects > p {
    text-align: center;
    font-size: 1.3rem;
    background-color: rgba(255, 255, 255, 0.884);
    border-radius: 0 0 0.5rem 0.5rem;
}

.add__project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin: 2rem;
}

.delete__project {
    margin: 2rem;
}

@media (max-width: 600px) {
    .add__project {
        grid-template-columns: 1fr;
    }
}

/* Avis */

.reviews__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reviews__container > h1 {
    margin: 0;
    margin-top: 3rem;
}

.current__reviews {
    display: flex;
    flex-direction: row;
    margin: 4rem;
    flex-wrap: wrap;
    gap: 2rem;
}

.review {
    display: grid; 
    grid-template-rows: auto auto auto auto;
    padding: 3rem;
    gap: 1rem;
    width: 30%;
    min-width: 250px;
    max-width: 500px;
    background-color: #f8f8f8;
}

.note {
    font-weight: bold;
}

.customer__name {
    font-style: italic;
    display: flex;
    align-items: center;
}

.profil__picture {
    border-radius: 50%;
    width: 4rem;
    margin-right: 1rem;
}

.form__add__review {
    margin: 3rem;
}

.add__review {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.add__review textarea {
    grid-column: 1 / -1;
    resize: none;
    height: 10rem;
}

.add__review .add__profil__picture,
.add__review .add__customer__name {
    grid-column: span 1;
}

.delete__review {
    margin: 3rem;
}

@media (max-width: 600px) {
    .customer__name {
        flex-direction: column;
        text-align: center;
    }
    
    .profil__picture {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
}

/* Messages */

.unread__messages {
    min-height: 10rem;
}

.messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin: 4rem;
    padding-top: 2rem;
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 1rem;
    width: 80%;
}

.user__infos {
    padding: 0.5rem 2rem;
    width: 100%;
    text-align: left;
    margin: 0;
}

strong {
    font-size: 1.1rem;
}

@media (max-width: 600px) {
    .message {
        width: 95%;
        margin: 2rem 0;
    }

    .user__infos, strong {
        font-size: 0.9rem;
    }
}